node_modules
dist
npm-debug.log
.DS_Store
coverage
.beeper-mcp-server.env
room-logs
mx-cache
.aider*
.test-resources*.db
docker-images/*
!docker-images/.gitkeep

# local cache
.npm-cache
.beeper-home
audit.json
beepermcp-macos-arm64
beepermcp-macos-arm64
